<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><img src="./../../../assets/logo.png" width="150"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nuevo']">Nuevo Personaje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/modificar']">Modificar Personaje</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Series
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let serie of series"><a class="dropdown-item" [routerLink]="['/serie', serie.idSerie]">{{serie.nombre}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
